<div id="cc" class="easyui-layout" data-options="fit:true,">
    <div data-options="region:'north',collapsible:false" style="height:50px;">
        <table border="1" style="width:100%">
            <tr>
                <td>用户ID:
                    <b><%= id %></b>
                </td>
                <td>用户名:
                    <b><%= name %></b>
                </td>
                <td>用户类型:
                    <b><%= member_role_name %></b>
                </td>
            </tr>
            <tr>
                <td>电话:
                    <b><%= phone %></b>
                </td>
                <td>其他联系方式:
                    <b><%= other_contacts %></b>
                </td>
                <td>备注:
                    <b><%= remark %></b>
                </td>
            </tr>
        </table>
    </div>
    <!--<div data-options="region:'south',title:'South Title',split:true" style="height:100px;"></div>-->
    <!--<div data-options="region:'west',title:'病例列表',collapsible:false"> </div>-->
    <!--<div data-options="region:'east',title:'详细信息',collapsible:false" style="width:300px"> </div>-->
    <div data-options="region:'center',title:'健康记录'" style="padding:5px;background:#eee;">
        <form id="ff" action="/member/case" method="post" enctype="multipart/form-data">
            <table style="width:100%">
                <tr>
                    <td>
                        <input name="memberCase" class="easyui-textbox" data-options="label:'情况:',labelWidth:55,labelPosition: 'left',multiline:true,value:'<%= member_case %>',height:50,width:350 ">
                    </td>
                    <td>
                        <input name="memberCaseRemark" class="easyui-textbox" data-options="label: '步骤:',labelWidth:55,labelPosition: 'left',multiline:true,value:'<%= member_case_remark %>',height:50,width:350 ">
                    </td>
                </tr>
            </table>
            <table>

                <!--<tr>
                    <td colspan="2">
                        <input name="memberCase" class="easyui-textbox" data-options="label: '步骤:',labelPosition: 'top',multiline:true,value:'<%= member_case_remark %>',height:70,width:720 ">
                    </td>
                </tr>-->
                <tr>
                    <td style="width:330px;float:left;margin-left:10px">
                        <label for="upPic ">正面</label>
                        <input type="file" name="upPic" class="dropify" data-height="240" data-default-file="memberCase/ID<%= id %>_up.jpg" />
                    </td>
                    <td style="width:330px;float:left;margin-left:45px">
                        <label for="downPic">背面</label>
                        <input type="file" name="downPic" class="dropify" data-height="240" data-default-file="memberCase/ID<%= id %>_down.jpg" />
                    </td>
                </tr>
                <tr>
                    <td style="width:330px;float:left;margin-left:10px">
                        <label for="rightPic">右侧面</label>
                        <input type="file" name="rightPic" class="dropify" data-height="240" data-default-file="memberCase/ID<%= id %>_right.jpg" />
                    </td>
                    <td style="width:330px;float:left;margin-left:45px">
                        <label for="leftPic"> 左侧面</label>
                        <input type="file" name="leftPic" class="dropify" data-height="240" data-default-file="memberCase/ID<%= id %>_left.jpg" />

                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="memberCase.submit()" style="width:80px;float:right;margin-right:40px ">保存</a>
                        <a href="member/listCase" target="_blank" class="easyui-linkbutton" style="width:80px;float:right;margin-right:40px ">打印</a>
                    </td>
                </tr>
            </table>




        </form>

    </div>
</div>

<script>
    memberCase = {};
    memberCase.keydown = function(e) {
        console.log(e);
        // if (e.key == 'Enter') {
        //     e.preventDefault();
        // }
    };
    memberCase.submit = function() {
        $('#ff').form('submit', {
            success: function(data) {
                data = JSON.parse(data);
                data.message = data.message.join('</br>');
                //console.log(data);
                if (data.err) {
                    $.messager.alert('失败', data.message, 'warning');
                } else {
                    $.messager.alert('提示', data.message, 'info');
                }
            }
        });
    };
    $(document).ready(function() {
        // Basic
        $('.dropify').dropify({
            messages: {
                'default': '点击或拖拽添加图片',
                'replace': '点击或拖拽添加图片',
                'remove': '清空',
                'error': '出错了.'
            }
        });
        $('#ff').keydown(memberCase.keydown);

    });
</script>