<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
</head>

<body>

    <table style="width:210mm;" border="0">
        <tr>
            <td>卡号：
                <%= card_id %>
            </td>
            <td>日期：
                <%= create_time %>
            </td>
            <td rowspan="3"> <img src="/LOGO.jpg" alt="logo" style="width:30mm;height:20mm;clear:both;display:block; margin:auto;padding-bottom:2mm;padding-top:2mm"></td>
        </tr>
        <tr>
            <td>姓名：
                <%= name %>
            </td>
            <td rowspan="2">描述：
                <%= member_case %>
            </td>

        </tr>
        <tr>
            <td>电话：
                <%= phone%>
            </td>

        </tr>
    </table>
    <hr>
    <table style="width:210mm;" border="0">

        <tr>
            <td>
                <img src="/memberCase/ID<%= id %>_up.jpg" alt="正面" style="width:100mm;height:120mm;clear:both;display:block; margin:auto;padding-bottom:2mm;padding-top:2mm">
            </td>
            <td>
                <img src="/memberCase/ID<%= id %>_down.jpg" alt="背面" style="width:100mm;height:120mm;clear:both;display:block; margin:auto;padding-bottom:2mm;padding-top:2mm">
            </td>
        </tr>
        <tr>

            <td>
                <img src="/memberCase/ID<%= id %>_right.jpg" alt="右面" style="width:100mm;height:105mm;clear:both;display:block; margin:auto;padding-bottom:2mm;padding-top:2mm">
            </td>
            <td>
                <img src="/memberCase/ID<%= id %>_left.jpg" alt="左面" style="width:100mm;height:105mm;clear:both;display:block; margin:auto;padding-bottom:2mm;padding-top:2mm">
            </td>

        </tr>
    </table>
    <hr>
    <p>
        治疗方案:
        <%= member_case_remark %>
    </p>

</body>

</html>