<!--用户基本信息-->
<div>
    <table border="1">
        <tr>
            <td>用户ID:
                <b><%= id %></b>
            </td>
            <td>用户名:
                <b><%= name %></b>
            </td>
            <td>用户类型:
                <b><%= member_role_name %></b>
            </td>
        </tr>
        <tr>
            <td>电话:
                <b><%= phone %></b>
            </td>
            <td>其他联系方式:
                <b><%= other_contacts %></b>
            </td>
            <td>备注:
                <b><%= remark %></b>
            </td>
        </tr>
    </table>

    <a href="javascript:void(0)" class="easyui-linkbutton" onclick=" login.submit()" style="width:80px;float:right;margin-right:40px ">充值</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick=" login.submit()" style="width:80px;float:right;margin-right:40px ">病例</a>
</div>


<!--消费列表-->
<div>

</div>